<a href="/Home/AddUser?HasRight=true">Страница 2 (без имени) </a>
<br />
<a href="/Home/AddUser1?Name=Tom&Age=34&HasRight=true"> Страница 3 (с именем и возрастом) </a>
<br />
<a href="/Home/AddUser2?Name=Tom&Age=34&HasRight=true"> Страница 4 (свойство Bind) </a>
<br />
<a href="/Home/AddUser3?Name=Tom&Age=34&HasRight=true"> Страница 5 (без привязки возраста и прав) </a>
<br />
<a href="/Home/GetUserAgent"> Страница 6 (GetUserAgent) </a>
<br />
<a href="/Home/AddUser4?Name=Alice&Age=22&HasRight=true"> Страница 7 (AddUserForm) </a>