@model List<string>
@{
    Layout = "~/Views/_Layout.cshtml";
}
@{
    ViewBag.Title = "About";
}

<h2>strongly-typed views</h2>
<h3>В списке @Model.Count элемента</h3>
@foreach (string country in Model)
{
    <p>@country</p>
}

@section Footer {
    Все права защищены. Site Corp. 2016.
}