@model Metanit_12_05_TemplateHelper.Models.Phone
<p>
    <b>Id:</b><br />
    @Html.DisplayFor(m => m.Id)
</p>
<p>
    <b>Модель:</b><br />
    @Html.DisplayFor(m => m.Name)
</p>
<p>
    <b>Цена:</b><br />
    @Html.DisplayFor(m => m.Price)
</p>