@model Metanit_12_05_TemplateHelper.Models.Phone

<p>
    <b>Id:</b><br />
    @Html.Display("Id")
</p>
<p>
    <b>Модель:</b><br />
    @Html.Display("Name")
</p>
<p>
    <b>Цена:</b><br />
    @Html.Display("Price")
</p>