@using(Html.BeginForm("Create", "Home", FormMethod.Post))
{
<p>
    <label>Модель</label><br />
    <input type="text" name="Name" />
</p>
<p>
    <label>Цена</label><br />
    <input type="number" name="Price" />
</p>
<p>
    <input type="submit" value="Отправить" />
</p>
}
