<form method="post" action="/Home/Create">
    <p>
        <label>Модель</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Цена</label><br />
        <input type="number" name="Price" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>