@{
}

<li> <a href="/home/about">Вторая страница моего сайта (about)</a> </li>
<li> @Html.ActionLink("Магазин", "Index", new { area = "Store", controller = "Home" }) </li>
<li> <a asp-action="Index" asp-controller="Home" asp-route-area="Store">Еще одна ссылка на магазин</a> </li>


@* =================================================*@
@* table and for                                    *@
<table>
    <thead>
        <tr><th>Name</th><th>Price</th></tr>
    </thead>
    <tbody>
        @foreach (Product p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@($"{p.Price:C2}")</td>
            </tr>
        }
    </tbody>
</table>
<text>=========================================</text>

